.tg-picker{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: dotted;
    overflow: hidden;
    position: relative;
}
.tg-picker-background{
    height: 150px;
    display: block;
    transition: opacity 0.4s;
}

.tg-picker-input{
    position: fixed;
    top: -1000px;
    left: -1000px;
    opacity: 0;
}

.tg-picker-buttons{
    transition: transform 0.4s;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
}

.tg-picker.selected .tg-picker-buttons{
    transform: translateY(300px);
}

.tg-picker.selected:hover .tg-picker-buttons{
    transform: translateY(-50%);
}

.tg-picker:not(.selected) .tg-picker-show{
    display: none;
}

.tg-picker-video, .tg-picker-photo{
    max-width: 100%;
    max-height: 100%;
}

.tg-picker.selected:hover .tg-picker-background{
    opacity: 0.4;
}

.tg-picker-show{
    line-height: 1.1;
}

.tg-picker-loader{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}


.tg-picker-document{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
    color: gray;
    font-size: 20px;
    padding: 0 20px;
}
